.popup__close-button {
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  top: -40px;
  right: -40px;
  background: url(../../../images/icons/close-icon.svg) center/cover no-repeat;
  cursor: pointer;
  border: none;
  transition: .2s linear;
}

.popup__close-button:hover {
  opacity: .6;
}

.popup__close-button:focus {
  outline: none;
}

@media screen and (max-width: 610px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0;
  }
}
