.page__content {
  margin: 40px 200px 66px;
}

@media screen and (max-width: 1024px) {
  .page__content {
    margin: 40px 100px 66px;
  }
}

@media screen and (max-width: 768px) {
  .page__content {
    margin: 40px 50px 58px;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    margin: 42px 19px 48px;
  }
}
