@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/* page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__footer/page__footer.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* content */
@import url(../blocks/content/__profile/content__profile.css);

/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__data/profile__data.css);
@import url(../blocks/profile/__image-edit/profile__image-edit.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__image-edit-button/profile__image-edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__occupation/profile__occupation.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/* gallery */
@import url(../blocks/gallery/gallery.css);

/* card */
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__post/card__post.css);
@import url(../blocks/card/__heading/card__heading.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-count/card__like-count.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/card/__delete-button/_visible/card__delete-button_visible.css);

/* footer */
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__text-error/popup__text-error.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__text/_type/popup__text_type_error.css);
@import url(../blocks/popup/__text-error/_active/popup__text-error_active.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_type/popup_type_image.css);
@import url(../blocks/popup/__container/_type/popup__container_type_image.css);
@import url(../blocks/popup/__container/_type/popup__container_type_edit-profile-image.css);
@import url(../blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
