.popup__container {
  position: relative;
  box-sizing: border-box;
  max-width: 430px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 36px;
  cursor: default;
}

@media screen and (max-width: 610px) {
  .popup__container {
    margin: 0 19px;
    padding: 25px 22px;
  }
}
