.profile__image-edit {
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
  transition: .2s linear;
}

.profile__image-edit:hover {
  filter: brightness(.2);
}

@media screen and (max-width: 768px) {
  .profile__image-edit {
    margin-right: 0;
  }
}
