.popup__text {
  font-family: 'Inter', sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 8px;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

@media screen and (max-width: 320px) {
  .popup__text {
    padding-bottom: 7px;
  }
}
